{%extends 'base.html'%}


{%block content%}
<!--  <a href=""class= "btn btn-danger">Delete </a>-->
  <a href="{% url 'delete' place.id%}" class="btn btn-danger">delete</a>
  <a href="{% url 'update' place.id%}" class="btn btn-info">update</a>
  <br>
  <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Persia-Tomb-of-Cyrus-the-Great-Passargad-530BC.JPG" style="width:400px ; height:410"  >
  <br>
  <h1>{{place.name}}</h1>
  <h5>{{place.opentime}}</h5>
  <h5>{{place.price}}</h5>
  <p style="color : green"> {{place.name}} </p>
  <p style = "color : red"> <del>CLOSE</del> </p>
  <p style="color : green"> <b>OPEN</b></p>
  <table>
    <tr>
      <th> NAME </th>
      <th> time </th>
      <th> price </th>
    </tr>
    <tr>
      <td>{{place.name}}</td>
      <td>{{place.opentime}}</td>
      <td>{{place.price}}</td>
    </tr>

  </table>
{% endblock %}