{%extends 'base.html'%}

{% block Title %} Home {% endblock %}


{% block content %}

    {% if request.user.is_authenticated %}
    <a href="{%url 'user_logout' %}">Logout</a>

    {%else%}
    <a href="{%url 'user_register' %}">Register</a>
    <a href="{%url 'user_login' %}">Login</a>

    {%endif%}


    <div class="card">
       {% for all in all %}
            <a class="card-body" href ="{% url 'detail' all.id %}">{{all.name}}</a>
        ----------------------------------------------------------------------------
            <h4 class="card-body">{{all.ticket_price}}</h4>
            <small class="card-body">{{all.opentime}}</small>
        ____________________________________________________________________________
       {% endfor %}
    </div>

{% endblock %}
