{%extends 'base.html'%}

{% block Title %} Home {% endblock %}


{% block content %}
    <div class="card">
       {% for all in all %}
            <a class="card-body" href ="{% url 'detail' all.id %}">{{all.name}}</a>
        ----------------------------------------------------------------------------
            <h4 class="card-body">{{all.ticket_price}}</h4>
            <small class="card-body">{{all.opentime}}</small>
        ____________________________________________________________________________
       {% endfor %}
    </div>

{% endblock %}
