<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice2</title>
    <link rel="icon" type="image/png" href="https://static-00.iconduck.com/assets.00/samsung-icon-512x512-0o72hicf.png">

    </style>
</head>

<body>
    <div style="width: 280px;">
        <img src="https://www.myxprs.com/galaxy-unpacked/images/main-kv.jpg" alt="myphone" width="280px">
        <h2 style="font-family: Arial, Helvetica, sans-serif;">سازنده بهترین گوشی دنیا در سطح جهان گوشی موبایل سامسونگ
            مدل
            ۲۰۲۳</h2>
        <p color: burlywood;">سامسونگ به عنوان بهترین گوشی در سطح کشور شناخته می شود</p>
        <h3>:ویژگی ها </h3>
        <ul style="list-style-type: initial;">

            <li style="font-size: 12;">اندازه : <b>۶.۸</b></li>
            <li style="font-size: 12;">رزولوشن عکس : <b>۲۰۰ مگاپیکسل</b></li>
            <li style="font-size: 12;">اقلام همراه : <b>دفترچه راهنما</b></li>
        </ul>
        <h3>قیمت</h3>
        <del>77,700,000</del>
        <br>
        <strong>76,140,000</strong>
    </div>

    <a href="google.com" style="color: green; font-size: larger; background-color: whitesmoke; ">خرید محصول</a>
</body>

</html>